.create {
    max-width: 500px;
    margin: 5% auto;
    padding: 1%;
    text-align: center;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
}

.create label{
    text-align: left;
    display: block;
}

.create input {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.create button {
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #136fbb;
    color: #FFF;
    &:hover {
        font-weight: bold;
    }
}